/**********************************************************************/
/***                         Media Queries                          ***/
/**********************************-***********************************/


/****  screen and (max-width: 359px)  ****/

@media screen and (max-width: 359px) {


/****  screen and (min-width: 576px)  ****/

@media screen and (min-width: 576px) {
}
/****  /screen and (min-width: 576px)  ****/


/****  /screen and (min-width: 800px)  ****/

@media screen and (min-width: 800px) {
    /******************************************/
    /***  Reusable Components (about.html)  ***/
    /******************************************/

    .hide-toggler {
        display: none;
    }

    .hide-menu {
        display: -ms-grid;
        display: grid;
    }
}
/****  /screen and (min-width: 800px)  ****/


/****  /screen and (min-width: 1200px)  ****/

@media screen and (min-width: 1200px) {
}
/****  /screen and (min-width: 1200px)  ****/


/****  /screen and (min-width: 1440px)  ****/

@media screen and (min-width: 1440px) {
}
/****  /screen and (min-width: 1440px)  ****/
