/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/**********************************************************************/
/***                          Basic Setup                           ***/
/**********************************-***********************************/

.container-classes {
    position: absolute;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
                grid-template-areas:
        "header-classes"
        "classes-list"
        "footer";
    -ms-grid-rows: (-webkit-max-content)[3];
    grid-template-rows: repeat(3, -webkit-max-content);
    -ms-grid-rows: (max-content)[3];
    grid-template-rows: repeat(3, max-content);
    background-color: #f2f0e5;
    width: 100%;
    top: 0;
    z-index: 1;
}

.container-header-classes {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: header-classes;
    background-image: -o-linear-gradient(rgba(12, 18, 44, 0.8), rgba(12, 18, 44, 0.8)), url("../img/three-women-excercising.jpg");
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(12, 18, 44, 0.8)), to(rgba(12, 18, 44, 0.8))), url("../img/three-women-excercising.jpg");
    background-image: linear-gradient(rgba(12, 18, 44, 0.8), rgba(12, 18, 44, 0.8)), url("../img/three-women-excercising.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 7.5% 85% 7.5%;
    grid-template-columns: 7.5% 85% 7.5%;
                grid-template-areas:
        ". . ."
        ". quote-classes ."
        ". . .";
    -ms-grid-rows: (33%)[3];
    grid-template-rows: repeat(3, 33%);
    -ms-grid-row-align: center;
    -ms-grid-column-align: center;
    place-self: center;
}

.container-classes-list {
    grid-area: classes-list;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 5% 90% 5%;
    grid-template-columns: 5% 90% 5%;
            grid-template-areas:
        ". header-classes ."
        ". summary-classes ."
        ". schedule ."
        ". classes-items .";
    -ms-grid-rows: (-webkit-max-content)[4];
    grid-template-rows: repeat(4, -webkit-max-content);
    -ms-grid-rows: (max-content)[4];
    grid-template-rows: repeat(4, max-content);
    margin: 5rem 0rem;
}


/**********************************************************************/
/***                             Header                             ***/
/**********************************-***********************************/

.header-hero-classes {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: quote-classes;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-grid-row-align: center;
        align-self: center;
}

.header-classes-inspiration figure {
    color: #f6f5f4;
    margin: 1rem 0rem;
}

.header-classes-inspiration blockquote {
    text-align: center;
    color: #f6f5f4;
    -ms-grid-column-align: center;
        justify-self: center;
    margin: 0rem 1.6rem;
}

.header-classes-inspiration blockquote p {
    font-size: 2.5rem;
    font-weight: 400;
    -ms-grid-column-align: center;
        justify-self: center;
    margin: 0rem;
}

.header-classes-inspiration blockquote p i {
    font-size: 0.9rem;
}

.header-classes-inspiration figcaption {
    font-size: 1.8rem;
    font-weight: 400;
    text-align: center;
    margin: 0.9rem 0rem;
}


/**********************************************************************/
/***                          Classes List                          ***/
/**********************************-***********************************/

.classes-list-header {
    grid-area: header-classes;
    -ms-grid-column-align: center;
        justify-self: center;
}

.classes-list-header h1 {
    font-size: 300%;
    font-weight: 500;
    margin-top: 0rem;
    margin-bottom: 2.2rem;
}

.classes-list-summary {
    grid-area: summary-classes;
    -ms-grid-column-align: center;
        justify-self: center;
}

.classes-list-summary p {
    font-size: 1.5rem;
    font-weight: 400;
    text-align: justify;
    margin: 0rem;
}

.classes-list-schedule {
    grid-area: schedule;
    -ms-grid-column-align: center;
        justify-self: center;
}

.classes-list-btn {
    width: 19rem;
    padding: 0rem;
    margin: 3rem;
}

.classes-list-items {
    grid-area: classes-items;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
            grid-template-areas:
        "classes-item-1"
        "classes-item-2"
        "classes-item-3"
        "classes-item-4"
        "classes-item-5"
        "classes-item-6"
        "classes-item-7"
        "classes-item-8";
    -ms-grid-rows: (-webkit-max-content)[8];
    grid-template-rows: repeat(8, -webkit-max-content);
    -ms-grid-rows: (max-content)[8];
    grid-template-rows: repeat(8, max-content);
}

.classes-item-one {
    grid-area: classes-item-1;
}

.classes-item-two {
    grid-area: classes-item-2;
}

.classes-item-three {
    grid-area: classes-item-3;
}

.classes-item-four {
    grid-area: classes-item-4;
}

.classes-item-five {
    grid-area: classes-item-5;
}

.classes-item-six {
    grid-area: classes-item-6;
}

.classes-item-seven {
    grid-area: classes-item-7;
}

.classes-item-eight {
    grid-area: classes-item-8;
}

.classes-item-group {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
            grid-template-areas:
        "img-group"
        "head-group"
        "text-group";
    -ms-grid-rows: (-webkit-max-content)[3];
    grid-template-rows: repeat(3, -webkit-max-content);
    -ms-grid-rows: (max-content)[3];
    grid-template-rows: repeat(3, max-content);
}

.classes-item-image {
    grid-area: img-group;
    -ms-grid-column-align: center;
        justify-self: center;
}

.classes-item-heading {
    grid-area: head-group;
}

.classes-item-text {
    grid-area: text-group;
}

.classes-item-image img {
    width: 32.55rem;
    height: 21rem;
    -webkit-box-shadow: 0.5rem 0.5rem 0.8rem #15313a;
            box-shadow: 0.5rem 0.5rem 0.8rem #15313a;
    padding: 0rem;
    margin-top: 5rem;
}

.classes-item-heading h2 {
    font-size: 210%;
    text-align: center;
    color: #15313a;
    padding: 0rem;
    margin: 1.7rem 0rem 1.5rem 0rem;
}

.classes-item-text p {
    font-size: 1.5rem;
    text-align: justify;
    padding: 0rem 0.7rem;
    margin: 0rem;
}


/**********************************************************************/
/***                         Media Queries                          ***/
/**********************************-***********************************/


/****  screen and (max-width: 359px)  ****/

@media only screen and (max-width: 359px) {
    /*****************/
    /***  Classes  ***/
    /*****************/

    .classes-item-image img {
        width: 31rem;
        height: 20rem;
    }
}
/****  /screen and (max-width: 359px)  ****/


/****  screen and (min-width: 576px)  ****/

@media only screen and (min-width: 576px) {
    /*****************/
    /***  Classes  ***/
    /*****************/

    .classes-list-summary p {
        margin-bottom: 2.3rem;
    }

    .classes-item-group {
        display: none;
    }

    .group-type-1 {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 48% 4% 48%;
        grid-template-columns: 48% 4% 48%;
                grid-template-areas:
            "img-group . head-group"
            "img-group . text-group";
        -ms-grid-rows: (-webkit-max-content)[2];
        grid-template-rows: repeat(2, -webkit-max-content);
        -ms-grid-rows: (max-content)[2];
        grid-template-rows: repeat(2, max-content);
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin: 3.5rem 0rem;
    }

    .group-type-2 {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 48% 4% 48%;
        grid-template-columns: 48% 4% 48%;
                grid-template-areas:
            "head-group . img-group"
            "text-group . img-group";
        -ms-grid-rows: (-webkit-max-content)[2];
        grid-template-rows: repeat(2, -webkit-max-content);
        -ms-grid-rows: (max-content)[2];
        grid-template-rows: repeat(2, max-content);
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin: 3.5rem 0rem;
    }

    .classes-item-image img {
        margin: 0rem;
    }

    .classes-item-heading {
        -ms-flex-item-align: end;
            align-self: flex-end;
    }

    .classes-item-heading h2 {
        padding: 0rem 0.7rem;
        margin-top: 0rem;
    }

    .classes-item-text {
        -ms-flex-item-align: start;
            align-self: flex-start;
    }
}
/****  screen and (min-width: 1024px)  ****/

@media only screen and (min-width: 1024px) {
    /*****************/
    /***  Classes  ***/
    /*****************/

    .container-classes-list {
        -ms-grid-columns: 10% 80% 10%;
        grid-template-columns: 10% 80% 10%;
    }

    .classes-item-image img {
        width: 38.75rem;
        height: 25rem;
    }

    .classes-item-heading h2 {
        padding: 0rem 0.7rem;
        margin-top: 0rem;
    }
}
/****  /screen and (max-width: 1024px)  ****/


/****  screen and (min-width: 1200px)  ****/

@media only screen and (min-width: 1200px) {
    /*****************/
    /***  Classes  ***/
    /*****************/

    .container-classes-list {
        -ms-grid-columns: 15% 70% 15%;
        grid-template-columns: 15% 70% 15%;
    }

    .group-type-1 .classes-item-image {
        -ms-grid-column-align: end;
            justify-self: end;
        margin-right: 3.5rem;
    }

    .group-type-2 .classes-item-image {
        -ms-grid-column-align: start;
            justify-self: start;
        margin-left: 3.5rem;
    }

    .classes-item-image img {
        width: 41.85rem;
        height: 27rem;
    }

    .classes-item-heading h2 {
        padding: 0rem 0.7rem;
        margin-top: 0rem;
    }
}
/****  /screen and (max-width: 1200px)  ****/
