/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/**********************************************************************/
/***                         Imported fonts                         ***/
/**********************************-***********************************/


@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/**********************************************************************/
/***                          Basic Setup                           ***/
/**********************************-***********************************/


html {
    font-size: 62.5%;
}

body {
    margin: 0rem;
    padding: 0rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    background-color: #f2f0e5;
}

.container-navbar {
    position: fixed;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 5% -webkit-max-content -webkit-max-content auto 5%;
    -ms-grid-columns: 5% max-content max-content auto 5%;
    grid-template-columns: 5% -webkit-max-content -webkit-max-content auto 5%;
    grid-template-columns: 5% max-content max-content auto 5%;
            grid-template-areas:
        ". brand title menu .";
    -ms-grid-rows: 6.5rem;
    grid-template-rows: 6.5rem;
    background: transparent;
    color: #beb580;
    width: 100%;
    padding: 0rem;
    margin: 0rem;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    z-index: 15;
}

.container-navbar-mobile {
    position: fixed;
    display: none;
    -ms-grid-columns: 5% 90% 5%;
    grid-template-columns: 5% 90% 5%;
            grid-template-areas:
        ". menu .";
    -ms-grid-rows: -webkit-max-content;
    grid-template-rows: -webkit-max-content;
    -ms-grid-rows: max-content;
    grid-template-rows: max-content;
    background-color: rgba(26, 33, 63, 0.9);
    color: #0c122c;
    width: 100%;
    top: 6.5rem;
    padding: 0rem;
    margin: 0rem;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    z-index: 15;
}

.container-main {
    position: absolute;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
            grid-template-areas:
        "header"
        "details"
        "hero"
        "member"
        "testimonial"
        "footer";
    -ms-grid-rows: (-webkit-min-content)[6];
    grid-template-rows: repeat(6, -webkit-min-content);
    -ms-grid-rows: (min-content)[6];
    grid-template-rows: repeat(6, min-content);
    background-color: #f2f0e5;
    width: 100%;
    top: 0;
    z-index: 1;
}

.container-header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: header;
    background-image: -o-linear-gradient(rgba(12, 18, 44, 0.8), rgba(12, 18, 44, 0.8)), url("../img/fitness-center.jpg");
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(12, 18, 44, 0.8)), to(rgba(12, 18, 44, 0.8))), url("../img/fitness-center.jpg");
    background-image: linear-gradient(rgba(12, 18, 44, 0.8), rgba(12, 18, 44, 0.8)), url("../img/fitness-center.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 7.5% 85% 7.5%;
    grid-template-columns: 7.5% 85% 7.5%;
            grid-template-areas:
        ". . ."
        ". hero ."
        ". hero ."
        ". hero ."
        ". . .";
    -ms-grid-rows: 14% (24%)[3] 14%;
    grid-template-rows: 14% repeat(3, 24%) 14%;
}

.container-details {
    margin: 1rem 0rem 5rem 0rem;
}

.container-inspiration {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: hero;
    background-image: -o-linear-gradient(rgba(12, 18, 44, 0.8), rgba(12, 18, 44, 0.8)), url("../img/kicking-workout.jpg");
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(12, 18, 44, 0.8)), to(rgba(12, 18, 44, 0.8))), url("../img/kicking-workout.jpg");
    background-image: linear-gradient(rgba(12, 18, 44, 0.8), rgba(12, 18, 44, 0.8)), url("../img/kicking-workout.jpg");
    background-size: cover;
    background-position: center;
    height: 70vh;
    background-attachment: fixed;
    top: 0rem;
    left: 0rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 5% 90% 5%;
    grid-template-columns: 5% 90% 5%;
            grid-template-areas:
        ". . ."
        ". quote ."
        ". . .";
    -ms-grid-rows: 14% 72% 14%;
    grid-template-rows: 14% 72% 14%;
}

.container-header > .container-inspiration {
    -ms-grid-row: 2;
    -ms-grid-row-span: 3;
    -ms-grid-column: 2;
}

.container-membership {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: member;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 5% 90% 5%;
    grid-template-columns: 5% 90% 5%;
            grid-template-areas:
        ". head ."
        ". text ."
        ". price .";
    -ms-grid-rows: (-webkit-max-content)[3];
    grid-template-rows: repeat(3, -webkit-max-content);
    -ms-grid-rows: (max-content)[3];
    grid-template-rows: repeat(3, max-content);
    padding: 0rem;
    margin: 5rem 0rem;
}

.footer-middle > .container-membership {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
}

.container-testimonial {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: testimonial;
    background: #38555e;
    color: #beb580;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 95%;
    grid-template-columns: 95%;
            grid-template-areas:
        "test-one"
        "test-two"
        "test-three";
    -ms-grid-rows: -webkit-max-content 2.5rem -webkit-max-content 2.5rem -webkit-max-content;
    grid-template-rows: repeat(3, -webkit-max-content);
    -ms-grid-rows: max-content 2.5rem max-content 2.5rem max-content;
    grid-template-rows: repeat(3, max-content);
    grid-gap: 2.5rem 0rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 5rem 0rem;
}

.container-footer {
    width: 100%;
    background: #0c122c;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
            grid-template-areas:
        "start"
        "middle"
        "end"
        "copy";
    -ms-grid-rows: (-webkit-max-content)[5];
    grid-template-rows: repeat(5, -webkit-max-content);
    -ms-grid-rows: (max-content)[5];
    grid-template-rows: repeat(5, max-content);
}


/**********************************************************************/
/***                      Reusable Components                       ***/
/**********************************-***********************************/

.disabled {
    display: none;
}

.no-decoration {
    text-decoration: none;
}

.font-light {
    color: #f2f0e5;
}

.font-yellow {
    color: #beb580;
}

.font-dark {
    color: #0c122c;
}

.font-green {
    color: #15313a;
}

.btn {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.btn-main {
    font-size: 1.5rem;
    background: #292f4b;
    border: 0.2rem solid #beb580;
    border-radius: 0.6rem;
    -webkit-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}

.btn-main:hover {
    background-color: #5c6381;
    color: #f2f0e5;
    -webkit-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
    /* border-color: #f6f5f4; */
}

.btn-main:active {
    background-color: rgba(41, 47, 75, 0.6);
    -webkit-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}

.btn-main:visited {
    color: #beb580;
    -webkit-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}

.btn-light {
    font-size: 1.5rem;
    background: #967858;
    border: 0.2rem solid #5d3f1f;
    border-radius: 0.6rem;
    -webkit-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}

.btn-light:hover {
    background-color: #bea080;
    color: #41270b;
    -webkit-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
    /* border-color: #f6f5f4; */
}

.btn-light:active {
    background-color: rgba(41, 47, 75, 0.6);
    -webkit-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}

.btn-light:visited {
    color: #beb580;
    -webkit-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}

.hide-menu {
    display: none;
}

.hide-toggler {
    display: -ms-grid;
    display: grid;
}


/**********************************************************************/
/***                             Navbar                             ***/
/**********************************-***********************************/

.container-navbar a {
    color: #beb580;
}

.sticky-navbar {
    top: 0;
    background: #5c6381;
    color: #beb580;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.sticky-navbar a {
    color: #beb580;
}

.navbar-brand {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: brand;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-grid-row-align: center;
        align-self: center;
    font-size: 100%;
    padding: 0rem;
    margin: 0rem;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.navbar-title {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: title;
    -ms-grid-column-align: start;
        justify-self: start;
    -ms-grid-row-align: center;
        align-self: center;
}

.navbar-title span {
    font-size: 350%;
    font-weight: 600;
}

.navbar-menu {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
    grid-area: menu;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
    -ms-grid-rows: 6.5rem;
    grid-template-rows: 6.5rem;
    height: 6.5rem;
    justify-items: end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.container-navbar-mobile > .navbar-menu {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
}

.navbar-menu > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.navbar-menu-list {
    list-style: none;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0rem;
    margin: 0rem;
}

.navbar-menu-item {
    margin-left: 1.7rem;
}

.navbar-menu-link {
    font-size: 1.7rem;
    font-weight: 500;
}

.navbar-menu-link:hover {
    color: #f2f0e5;
    -webkit-transition: color 0.25s;
    -o-transition: color 0.25s;
    transition: color 0.25s;
}

.navbar-menu-link:active {
    color: rgba(245, 246, 244, 0.6);
    -webkit-transition: color 0.25s;
    -o-transition: color 0.25s;
    transition: color 0.25s;
}

.navbar-toggler {
    font-size: 330%;
    padding: 0rem;
    /* margin: 0rem 1.2rem 0rem 0rem; */
    margin: 0rem;
}


/**********************************************************************/
/***                         Mobile Navbar                          ***/
/**********************************-***********************************/

.container-navbar-mobile a {
    color: #bea080;
}

.sticky-navbar-mobile {
    color: #0c122c;
    -webkit-transition: all 0.255s cubic-bezier(1, 0, 0, 1);
    -o-transition: all 0.255s cubic-bezier(1, 0, 0, 1);
    transition: all 0.255s cubic-bezier(1, 0, 0, 1);
}

.navbar-mobile {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
    grid-area: menu;
}

.container-navbar-mobile > .navbar-mobile {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
}

.navbar-mobile-list {
    list-style: none;
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0rem;
    margin: 1.5rem 0rem;
}

.navbar-mobile-item {
    margin-bottom: 0.7rem;
}

.navbar-mobile-link {
    font-size: 1.8rem;
    font-weight: 500;
    -webkit-transition: color 0.255s cubic-bezier(1, 0, 0, 1);
    -o-transition: color 0.255s cubic-bezier(1, 0, 0, 1);
    transition: color 0.255s cubic-bezier(1, 0, 0, 1);
}

.navbar-mobile-link:hover {
    color: #f2f0e5
}

.navbar-mobile-link:active {
    color: rgba(245, 246, 244, 0.6);
    -webkit-transition: color 0.255s cubic-bezier(1, 0, 0, 1);
    -o-transition: color 0.255s cubic-bezier(1, 0, 0, 1);
    transition: color 0.255s cubic-bezier(1, 0, 0, 1);
}


/**********************************************************************/
/***                             Header                             ***/
/**********************************-***********************************/

.header-hero {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: hero;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
            grid-template-areas:
        "heading"
        "inspire"
        "buttons";
    -ms-grid-rows: (1fr)[3];
    grid-template-rows: repeat(3, 1fr);
}

.container-header > .header-hero {
    -ms-grid-row: 2;
    -ms-grid-row-span: 3;
    -ms-grid-column: 2;
}

.header-hero-heading {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: heading;
    -ms-grid-row-align: end;
        align-self: end;
}

.header-hero-heading h1 {
    font-size: 380%;
    font-weight: 500;
    color: #f2f0e5;
    text-align: center;
    margin: 0rem;
}

.header-hero-inspiration {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: inspire;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-grid-row-align: center;
        align-self: center;
}

.header-hero-inspiration figure {
    margin: 1rem 2rem;
}

.header-hero-inspiration blockquote {
    font-size: 1.7rem;
    font-weight: 400;
    text-align: center;
    color: #f2f0e5;
    margin: 0rem 1.7rem;
}

.header-hero-inspiration blockquote p {
    -ms-grid-column-align: center;
        justify-self: center;
    margin: 0rem;
}

.header-hero-inspiration blockquote p i {
    font-size: 1rem;
}

.header-hero-inspiration figcaption {
    font-size: 1.3rem;
    font-weight: 400;
    text-align: center;
    margin: 0.9rem 0rem;
}

.header-hero-buttons {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: buttons;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-grid-row-align: start;
        align-self: start;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
            grid-template-areas:
        ". btn-1 ."
        ". btn-2 ."
        ". btn-3 ."
        ". btn-4 .";
    -ms-grid-rows: (-webkit-max-content)[4];
    grid-template-rows: repeat(4, -webkit-max-content);
    -ms-grid-rows: (max-content)[4];
    grid-template-rows: repeat(4, max-content);
}

.btn-1 {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: btn-1;
}

.btn-2 {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: btn-2;
}

.btn-3 {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: btn-3;
}

.btn-4 {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
    grid-area: btn-4;
}

.header-hero-btn {
    width: 14rem;
    height: 2.9rem;
    -ms-grid-column-align: center;
        justify-self: center;
    margin-bottom: 0.9rem;
    -webkit-transition: background 0.25s;
    -o-transition: background 0.25s;
    transition: background 0.25s;
}


/**********************************************************************/
/***                            Details                             ***/
/**********************************-***********************************/

.details-items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 5% 1fr 5%;
    grid-template-columns: 5% 1fr 5%;
            grid-template-areas:
        ". img-w ."
        ". grp-w ."
        ". img-c ."
        ". grp-c ."
        ". img-b ."
        ". grp-b .";
    -ms-grid-rows: (-webkit-max-content)[6];
    grid-template-rows: repeat(6, -webkit-max-content);
    -ms-grid-rows: (max-content)[6];
    grid-template-rows: repeat(6, max-content);
    padding: 0rem;
    margin: 0rem;
}

.details-welcome-image {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: img-w;
    -ms-grid-column-align: center;
        justify-self: center;
}

.details-welcome-group {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: grp-w;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
            grid-template-areas:
        "hdr-w"
        "txt-w"
        "btn-w";
    -ms-grid-rows: (-webkit-max-content)[3];
    grid-template-rows: repeat(3, -webkit-max-content);
    -ms-grid-rows: (max-content)[3];
    grid-template-rows: repeat(3, max-content);
}

.details-welcome-heading {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: hdr-w;
    -ms-grid-column-align: center;
        justify-self: center;
}

.details-welcome-text {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: txt-w;
}

.details-welcome-button {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: btn-w;
    -ms-grid-column-align: center;
        justify-self: center;
}

.details-classes-image {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: img-c;
    -ms-grid-column-align: center;
        justify-self: center;
}

.details-classes-group {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
    grid-area: grp-c;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
            grid-template-areas:
        "hdr-c"
        "txt-c"
        "btn-c";
    -ms-grid-rows: (-webkit-max-content)[3];
    grid-template-rows: repeat(3, -webkit-max-content);
    -ms-grid-rows: (max-content)[3];
    grid-template-rows: repeat(3, max-content);
}

.details-classes-heading {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: hdr-c;
    -ms-grid-column-align: center;
        justify-self: center;
}

.details-classes-text {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: txt-c;
}

.details-classes-button {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: btn-c;
    -ms-grid-column-align: center;
        justify-self: center;
}

.details-blog-image {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
    grid-area: img-b;
    -ms-grid-column-align: center;
        justify-self: center;
}

.details-blog-group {
    -ms-grid-row: 6;
    -ms-grid-column: 2;
    grid-area: grp-b;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
            grid-template-areas:
        "hdr-b"
        "txt-b"
        "btn-b";
    -ms-grid-rows: (-webkit-max-content)[3];
    grid-template-rows: repeat(3, -webkit-max-content);
    -ms-grid-rows: (max-content)[3];
    grid-template-rows: repeat(3, max-content);
}

.details-blog-heading {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: hdr-b;
    -ms-grid-column-align: center;
        justify-self: center;
}

.details-blog-text {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: txt-b;
}

.details-blog-button {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: btn-b;
    -ms-grid-column-align: center;
        justify-self: center;
}

.details-img {
    width: 32.55rem;
    height: 21rem;
    -webkit-box-shadow: 0.5rem 0.5rem 0.6rem #15313a;
            box-shadow: 0.5rem 0.5rem 0.6rem #15313a;
    padding: 0rem;
    margin-top: 5rem;
}

.details-heading {
    font-size: 210%;
    text-align: center;
    color: #4d4271;
    padding: 0rem;
    margin: 1.5rem 0rem;
}

.details-text {
    font-size: 1.5rem;
    text-align: justify;
    padding: 0rem 0.7rem;
    margin: 0rem;
}

.details-btn {
    width: 16rem;
    height: 2.9rem;
    padding: 0rem;
    margin-top: 2rem;
}


/**********************************************************************/
/***                      Inspirational Quote                       ***/
/**********************************-***********************************/

.inspiration-hero {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: quote;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-grid-row-align: center;
        align-self: center;
}

.inspiration-quote figure {
    margin: 1rem 0rem;
}

.inspiration-quote blockquote {
    font-size: 1.7rem;
    font-weight: 400;
    text-align: center;
    color: #f2f0e5;
    margin: 0rem 1.6rem;
}

.inspiration-quote blockquote p {
    -ms-grid-column-align: center;
        justify-self: center;
    margin: 0rem;
}

.inspiration-quote blockquote p i {
    font-size: 1rem;
}

.inspiration-quote figcaption {
    font-size: 1.3rem;
    font-weight: 400;
    text-align: center;
    margin: 0.9rem 0rem;
}


/**********************************************************************/
/***                           Membership                           ***/
/**********************************-***********************************/

.membership-heading {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: head;
    -ms-grid-column-align: center;
        justify-self: center;
    margin: 0rem;
}

.membership-heading h1 {
    font-size: 300%;
    font-weight: 500;
    margin-top: 0rem;
    margin-bottom: 2.2rem;
}

.membership-text {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: text;
    -ms-grid-column-align: center;
        justify-self: center;
    text-align: justify;
    margin-bottom: 3rem;
}

.membership-text p {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0rem;
}

.membership-pricing {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: price;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 95%;
    grid-template-columns: 95%;
            grid-template-areas:
        "opt-one"
        "opt-two"
        "opt-three"
        "opt-four";
    -ms-grid-rows: -webkit-max-content 2.5rem -webkit-max-content 2.5rem -webkit-max-content 2.5rem -webkit-max-content;
    grid-template-rows: repeat(4, -webkit-max-content);
    -ms-grid-rows: max-content 2.5rem max-content 2.5rem max-content 2.5rem max-content;
    grid-template-rows: repeat(4, max-content);
    grid-row-gap: 2.5rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.membership-option-one {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: opt-one;
    background: #fdfdfc;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
            grid-template-areas:
        "img-one"
        "prc-one"
        "drt-one"
        "btn-one";
    -ms-grid-rows: 16rem 7rem 3rem 7rem;
    grid-template-rows: 16rem 7rem 3rem 7rem;
    border: 0.3rem solid #15313a;
    border-radius: 1.5rem;
    -webkit-box-shadow: 0.55rem 0.55rem 0.7rem #414867;
            box-shadow: 0.55rem 0.55rem 0.7rem #414867;
    overflow: hidden;
}

.membership-image-one {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: img-one;
    border-bottom: 0.3rem solid #15313a;
    overflow: hidden;
}

.membership-option-img {
    width: 100%;
}

.membership-price-one {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: prc-one;
    -ms-grid-row-align: end;
    -ms-grid-column-align: center;
    place-self: end center;
}

.membership-duration-one {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: drt-one;
    -ms-grid-row-align: start;
    -ms-grid-column-align: center;
    place-self: start center;
}

.membership-button-one {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: btn-one;
    -ms-grid-row-align: center;
    -ms-grid-column-align: center;
    place-self: center center;
}

.membership-option-two {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: opt-two;
    background: #fdfdfc;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
            grid-template-areas:
        "img-two"
        "prc-two"
        "drt-two"
        "btn-two";
    -ms-grid-rows: 16rem 7rem 3rem 7rem;
    grid-template-rows: 16rem 7rem 3rem 7rem;
    border: 0.3rem solid #15313a;
    border-radius: 1.5rem;
    -webkit-box-shadow: 0.55rem 0.55rem 0.7rem #414867;
            box-shadow: 0.55rem 0.55rem 0.7rem #414867;
    overflow: hidden;
}

.membership-image-two {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: img-two;
    border-bottom: 0.3rem solid #15313a;
    overflow: hidden;
}

.membership-price-two {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: prc-two;
    -ms-grid-row-align: end;
    -ms-grid-column-align: center;
    place-self: end center;
}

.membership-duration-two {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: drt-two;
    -ms-grid-row-align: start;
    -ms-grid-column-align: center;
    place-self: start center;
}

.membership-button-two {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: btn-two;
    -ms-grid-row-align: center;
    -ms-grid-column-align: center;
    place-self: center center;
}

.membership-option-three {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: opt-three;
    background: #fdfdfc;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
            grid-template-areas:
        "img-three"
        "prc-three"
        "drt-three"
        "btn-three";
    -ms-grid-rows: 16rem 7rem 3rem 7rem;
    grid-template-rows: 16rem 7rem 3rem 7rem;
    border: 0.3rem solid #15313a;
    border-radius: 1.5rem;
    -webkit-box-shadow: 0.55rem 0.55rem 0.7rem #414867;
            box-shadow: 0.55rem 0.55rem 0.7rem #414867;
    overflow: hidden;
}

.membership-image-three {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: img-three;
    border-bottom: 0.3rem solid #15313a;
    overflow: hidden;
}

.membership-price-three {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: prc-three;
    -ms-grid-row-align: end;
    -ms-grid-column-align: center;
    place-self: end center;
}

.membership-duration-three {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: drt-three;
    -ms-grid-row-align: start;
    -ms-grid-column-align: center;
    place-self: start center;
}

.membership-button-three {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: btn-three;
    -ms-grid-row-align: center;
    -ms-grid-column-align: center;
    place-self: center center;
}

.membership-option-four {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    grid-area: opt-four;
    background: #fdfdfc;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
            grid-template-areas:
        "img-four"
        "prc-four"
        "drt-four"
        "btn-four";
    -ms-grid-rows: 16rem 7rem 3rem 7rem;
    grid-template-rows: 16rem 7rem 3rem 7rem;
    border: 0.3rem solid #15313a;
    border-radius: 1.5rem;
    -webkit-box-shadow: 0.55rem 0.55rem 0.7rem #414867;
            box-shadow: 0.55rem 0.55rem 0.7rem #414867;
    overflow: hidden;
}

.membership-image-four {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: img-four;
    border-bottom: 0.3rem solid #15313a;
    overflow: hidden;
}

.membership-price-four {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: prc-four;
    -ms-grid-row-align: end;
    -ms-grid-column-align: center;
    place-self: end center;
}

.membership-duration-four {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: drt-four;
    -ms-grid-row-align: start;
    -ms-grid-column-align: center;
    place-self: start center;
}

.membership-button-four {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: btn-four;
    -ms-grid-row-align: center;
    -ms-grid-column-align: center;
    place-self: center center;
}

.membership-option-img {
    width: 100%;
}

.membership-option-price {
    font-size: 3.7rem;
    font-weight: 500;
    background: #f5f6f4;
    margin: 0rem;
}

.membership-option-duration {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0rem;
}

.membership-option-btn {
    width: 16rem;
    height: 2.9rem;
}


/**********************************************************************/
/***                          Testimonials                          ***/
/**********************************-***********************************/

.testimonial-one {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: test-one;
}
.testimonial-two {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: test-two;
}
.testimonial-three {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: test-three;
}

.container-testimonial figure {
    margin: 0rem;
}

.container-testimonial figure blockquote {
    font-size: 1.5rem;
    font-weight: 400;
    text-align: justify;
    margin: 0rem 2rem;
}

.container-testimonial figure blockquote p {
    margin-top: 0rem;
    margin-bottom: 1.6rem;
}

.container-testimonial figure blockquote p i {
    font-size: 1rem;
}


/**********************************************************************/
/***                             Footer                             ***/
/**********************************-***********************************/

.footer-start {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: start;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-grid-row-align: center;
        align-self: center;
    margin-top: 4rem;
}

.footer-menu {
    padding: 0rem;
    margin: 0rem;
}

.footer-menu-item {
    list-style: none;
    font-size: 1.7rem;
    text-align: center;
    margin-bottom: 0.6rem;
}

.footer-menu-link:hover {
    color: #f2f0e5;
    -webkit-transition: color 0.25s;
    -o-transition: color 0.25s;
    transition: color 0.25s;
}

.footer-menu-link:active {
    color: rgba(242, 240, 229, 0.6);
    -webkit-transition: color 0.25s;
    -o-transition: color 0.25s;
    transition: color 0.25s;
}

.footer-middle {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: middle;
    -ms-grid-column-align: center;
        justify-self: center;
    margin-top: 3rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 33% 34% 33%;
    grid-template-columns: 33% 34% 33%;
            grid-template-areas:
        "social social social"
        "news news news"
        "input input input"
        "member member member"
        "button button button";
    -ms-grid-rows: (-webkit-max-content)[5];
    grid-template-rows: repeat(5, -webkit-max-content);
    -ms-grid-rows: (max-content)[5];
    grid-template-rows: repeat(5, max-content);
}

.footer-social {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: social;
}

.footer-social-list {
    text-align: center;
    padding: 0rem;
    margin: 0rem;
}

.footer-social-items {
    list-style: none;
    display: inline;
    -ms-grid-column-align: center;
        justify-self: center;
    padding: 0rem;
    margin: 0rem;
}

.footer-social-icon {
    color: #beb580;
    -webkit-transition: color 0.25s;
    -o-transition: color 0.25s;
    transition: color 0.25s;
}

.footer-social-icon:hover {
    color: #f2f0e5;
    -webkit-transition: color 0.25s;
    -o-transition: color 0.25s;
    transition: color 0.25s;
}

.footer-social-icon:active {
    color: rgba(242, 240, 229, 0.6);
    -webkit-transition: color 0.25s;
    -o-transition: color 0.25s;
    transition: color 0.25s;
}

.footer-social-icon {
    font-size: 280%;
    margin: 0rem 0.65rem;
}

.footer-newsletter {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: news;
    margin-top: 1.5rem;
}

.footer-newsletter-label {
    font-size: 1.6rem;
    text-align: center;
    margin-top: 0rem;
    margin-bottom: 0.9rem;
}

.footer-input {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: input;
}

.footer-input-form input {
    word-spacing: 0rem;
}

.footer-input-email {
    font-size: 1.4rem;
    background-color: #292f4b;
    border: 0.2rem solid #beb580;
    width: 22.5rem;
    height: 2.4rem;
    border-radius: 0.6rem 0rem 0rem 0.6rem;
}

.footer-input-email::-webkit-input-placeholder {
    color: rgba(242, 240, 229, 0.6);
    padding: 0rem 0.6rem;
}

.footer-input-email::-moz-placeholder {
    color: rgba(242, 240, 229, 0.6);
    padding: 0rem 0.6rem;
}

.footer-input-email:-ms-input-placeholder {
    color: rgba(242, 240, 229, 0.6);
    padding: 0rem 0.6rem;
}

.footer-input-email::-ms-input-placeholder {
    color: rgba(242, 240, 229, 0.6);
    padding: 0rem 0.6rem;
}

.footer-input-email::placeholder {
    color: rgba(242, 240, 229, 0.6);
    padding: 0rem 0.6rem;
}

.footer-input-btn {
    border: 0.2rem solid #beb580;
    border-radius: 0rem 0.6rem 0.6rem 0rem;
    width: 8.1rem;
    height: 2.9rem;
    padding: 0.29rem 0rem 0.3rem 0rem;
    -webkit-transition: background-color 0.25s;
    -o-transition: background-color 0.25s;
    transition: background-color 0.25s;
}

.footer-membership {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: member;
    justify-items: center;
    margin-top: 1.9rem;
}

.footer-middle > .footer-membership {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
}

.footer-membership-header {
    font-size: 1.6rem;
    text-align: center;
    margin-top: 0rem;
    margin-bottom: 0rem;
}

.footer-button {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: button;
    -ms-grid-column-align: center;
        justify-self: center;
}

.footer-button-btn {
    width: 14rem;
    height: 2.9rem;
    padding: 0rem;
    margin-top: 0.9rem;
    -webkit-transition: background 0.25s;
    -o-transition: background 0.25s;
    transition: background 0.25s;
}

.footer-end {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: end;
    -ms-grid-row-align: center;
        align-self: center;
    margin-top: 3rem;
}

.footer-end-list {
    text-align: center;
    line-height: 1.85rem;
    padding: 0rem;
    margin: 0rem 0.7rem;
}

.footer-end-items {
    font-size: 1.3rem;
    list-style: none;
}

.footer-copyright {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: copy;
    text-align: center;
    margin-top: 1.7rem;
}

.footer-copyright-text {
    margin-bottom: 1.7rem;
}


/**********************************************************************/
/***                         Media Queries                          ***/
/**********************************-***********************************/


/****  screen and (max-width: 359px)  ****/

@media screen and (max-width: 359px) {
    /****************/
    /***  NAVBAR  ***/
    /****************/

    .navbar-brand {
        font-size: 95%;
    }

    .navbar-title span {
        font-size: 330%;
        font-weight: 600;
    }

    .navbar-toggler {
        font-size: 310%;
    }

    /****************/
    /***  HEADER  ***/
    /****************/

    .header-hero-heading h1 {
        font-size: 340%;
    }

    .header-hero-inspiration blockquote {
        font-size: 1.6rem;
    }

    /*****************/
    /***  DETAILS  ***/
    /*****************/

    .details-img {
        width: 24.8rem;
        height: 16rem;
    }

    /****************/
    /***  FOOTER  ***/
    /****************/

    .footer-input-form input {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .footer-input-email {
        width: 13.6rem;
        height: 2.4rem;
    }
}
/****  /screen and (max-width: 359px)  ****/


/****  screen and (min-width: 576px)  ****/

@media screen and (min-width: 576px) {
    /*****************************/
    /***  REUSABLE COMPONENTS  ***/
    /*****************************/

    .btn-1 {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }

    .btn-2 {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
    }

    .btn-3 {
        -ms-grid-column: 3;
    }

    .btn-4 {
        -ms-grid-row: 1;
        -ms-grid-column: 4;
    }

    /****************/
    /***  HEADER  ***/
    /****************/

    .header-hero-buttons {
        -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
                grid-template-areas:
            "btn-1 btn-2 btn-3 btn-4";
        -ms-grid-rows: -webkit-max-content;
        grid-template-rows: -webkit-max-content;
        -ms-grid-rows: max-content;
        grid-template-rows: max-content;
    }

    .header-hero-btn {
        margin: 0rem 0.45rem;
    }

    /*****************/
    /***  DETAILS  ***/
    /*****************/

    .details-items {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 5% 43% 4% 43% 5%;
        grid-template-columns: 5% 43% 4% 43% 5%;
                grid-template-areas:
            ". img-w . grp-w ."
            ". grp-c . img-c ."
            ". img-b . grp-b .";
        -ms-grid-rows: (-webkit-max-content)[3];
        grid-template-rows: repeat(3, -webkit-max-content);
        -ms-grid-rows: (max-content)[3];
        grid-template-rows: repeat(3, max-content);
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding: 0rem;
        margin: 0rem;
    }

    .details-img {
        margin: 6rem 0rem;
    }

    .details-heading {
        margin: 0rem;
    }

    .details-heading h2 {
        margin: 0rem;
    }

    .details-text {
        margin: 2.5rem 0rem;
    }

    .details-btn {
        margin: 0rem;
    }

    .details-welcome-image {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
    }

    .details-welcome-group {
        -ms-grid-row: 1;
        -ms-grid-column: 4;
    }

    .details-classes-image {
        -ms-grid-row: 2;
        -ms-grid-column: 4;
    }

    .details-classes-group {
        -ms-grid-row: 2;
        -ms-grid-column: 2;
    }

    .details-blog-image {
        -ms-grid-row: 3;
        -ms-grid-column: 2;
    }

    .details-blog-group {
        -ms-grid-row: 3;
        -ms-grid-column: 4;
    }

    /******************/
    /**  MEMBERSHIP ***/
    /******************/

    .membership-pricing {
        -ms-grid-columns: 47.5% 2.5rem 47.5%;
        grid-template-columns: repeat(2, 47.5%);
                grid-template-areas:
            "opt-one opt-two"
            "opt-three opt-four";
        -ms-grid-rows: -webkit-max-content 2.5rem -webkit-max-content;
        grid-template-rows: repeat(2, -webkit-max-content);
        -ms-grid-rows: max-content 2.5rem max-content;
        grid-template-rows: repeat(2, max-content);
        grid-gap: 2.5rem 2.5rem;
    }

    .membership-option-one {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }

    .membership-option-two {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
    }

    .membership-option-three {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }

    .membership-option-four {
        -ms-grid-row: 3;
        -ms-grid-column: 3;
    }

    /**************/
    /**  FOOTER ***/
    /**************/

    .container-footer {
        -ms-grid-columns: 20% 60% 20%;
        grid-template-columns: 20% 60% 20%;
                grid-template-areas:
            "start middle end"
            ". copy .";
        -ms-grid-rows: ()[2. -webkit-max-content];
        grid-template-rows: repeat(2. -webkit-max-content);
        -ms-grid-rows: ()[2. max-content];
        grid-template-rows: repeat(2. max-content);
    }

    .footer-start {
        -ms-grid-column-align: end;
            justify-self: end;
    }

    .footer-end {
        -ms-grid-column-align: start;
            justify-self: start;
    }

    .footer-start {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }

    .footer-middle {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
    }

    .footer-end {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
    }

    .footer-copyright {
        -ms-grid-row: 2;
        -ms-grid-column: 2;
    }
}
/****  /screen and (min-width: 576px)  ****/


/****  /screen and (min-width: 800px)  ****/

@media screen and (min-width: 800px) {
    /*****************************/
    /***  Reusable Components  ***/
    /*****************************/

    .hide-toggler {
        display: none;
    }

    .hide-menu {
        display: -ms-grid;
        display: grid;
    }

    /****************/
    /***  HEADER  ***/
    /****************/

    .header-hero-heading h1 {
        font-size: 480%;
    }

    .header-hero-inspiration blockquote {
        font-size: 2.3rem;
    }

    .header-hero-btn {
        margin: 0rem 1.35rem;
    }

    /*****************/
    /***  DETAILS  ***/
    /*****************/

    .container-details {
        margin: 3rem 0rem;
    }

    .details-welcome-image {
        -ms-grid-column-align: end;
            justify-self: end;
    }

    .details-classes-image {
        -ms-grid-column-align: start;
            justify-self: start;
    }

    .details-blog-image {
        -ms-grid-column-align: end;
            justify-self: end;
    }

    .details-img {
        width: 41.85rem;
        height: 27rem;
        margin: 3.5rem 3rem;
    }

    .details-heading {
        margin: 0rem;
    }

    .details-heading h2 {
        margin: 0rem;
    }

    .details-text {
        margin: 2.5rem 0rem;
    }

    .details-btn {
        margin: 0rem;
    }

    /*****************************/
    /***  INSPIRATIONAL QUOTE  ***/
    /*****************************/

    .container-inspiration {
        -ms-grid-columns: 10% 80% 10%;
        grid-template-columns: 10% 80% 10%;
    }

    .inspiration-quote blockquote {
        font-size: 2rem;
        margin: 0rem 2.5rem;
    }

    .inspiration-quote figcaption {
        font-size: 1.6rem;
    }

    /********************/
    /***  MEMBERSHIP  ***/
    /********************/

    .membership-option-one {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }

    .membership-option-two {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
    }

    .membership-option-three {
        -ms-grid-row: 1;
        -ms-grid-column: 5;
    }

    .membership-option-four {
        -ms-grid-row: 1;
        -ms-grid-column: 7;
    }

    /*********************/
    /***  TESTIMONIAL  ***/
    /*********************/

    .container-testimonial {
        -ms-grid-columns: 31.66% 0rem 31.66% 0rem 31.66%;
        grid-template-columns: repeat(3, 31.66%);
                grid-template-areas:
            "test-one test-two test-three";
        -ms-grid-rows: -webkit-max-content;
        grid-template-rows: -webkit-max-content;
        -ms-grid-rows: max-content;
        grid-template-rows: max-content;
        grid-gap: 0rem 0rem;
    }

    .container-testimonial figure blockquote {
        margin: 0rem 2.5rem 0rem 1.25rem;
    }

    .container-testimonial figure blockquote:last-child {
        margin: 0rem 1.25rem 0rem 1.25rem;
    }

    .testimonial-one {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }

    .testimonial-two {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
    }

    .testimonial-three {
        -ms-grid-row: 1;
        -ms-grid-column: 5;
    }
}
/****  /screen and (min-width: 800px)  ****/


/****  /screen and (min-width: 1200px)  ****/

@media screen and (min-width: 1200px) {
    /****************/
    /***  Header  ***/
    /****************/

    .container-header {
        -ms-grid-columns: 15% 70% 15%;
        grid-template-columns: 15% 70% 15%;
    }

    /*****************/
    /***  Details  ***/
    /*****************/

    .details-items {
        -ms-grid-columns: 15% 33% 4% 33% 15%;
        grid-template-columns: 15% 33% 4% 33% 15%;
    }

    /*****************************/
    /***  INSPIRATIONAL QUOTE  ***/
    /*****************************/

    .container-inspiration {
        -ms-grid-columns: 15% 70% 15%;
        grid-template-columns: 15% 70% 15%;
    }

    /********************/
    /***  MEMBERSHIP  ***/
    /********************/

    .container-membership {
        -ms-grid-columns: 15% 70% 15%;
        grid-template-columns: 15% 70% 15%;
    }

    .membership-pricing {
        -ms-grid-columns: 23.75% 2.5rem 23.75% 2.5rem 23.75% 2.5rem 23.75%;
        grid-template-columns: repeat(4, 23.75%);
                grid-template-areas:
            "opt-one opt-two opt-three opt-four";
        -ms-grid-rows: -webkit-max-content;
        grid-template-rows: -webkit-max-content;
        -ms-grid-rows: max-content;
        grid-template-rows: max-content;
        grid-gap: 0rem 2.5rem;
    }

    /*********************/
    /***  TESTIMONIAL  ***/
    /*********************/

    .container-testimonial {
        -ms-grid-columns: 23.33% 0rem 23.33% 0rem 23.33%;
        grid-template-columns: repeat(3, 23.33%);
    }
}
/****  /screen and (min-width: 1200px)  ****/


/****  /screen and (min-width: 1400px)  ****/

@media screen and (min-width: 1400px) {
    /****************/
    /***  Header  ***/
    /****************/

    .container-header {
        -ms-grid-columns: 20% 60% 20%;
        grid-template-columns: 20% 60% 20%;
    }

    /*****************/
    /***  Details  ***/
    /*****************/

    .details-items {
        -ms-grid-columns: 20% 28% 4% 28% 20%;
        grid-template-columns: 20% 28% 4% 28% 20%;
    }

    /*****************************/
    /***  INSPIRATIONAL QUOTE  ***/
    /*****************************/

    .container-inspiration {
        -ms-grid-columns: 20% 60% 20%;
        grid-template-columns: 20% 60% 20%;
    }
}
/****  /screen and (min-width: 1400px)  ****/
