/**********************************************************************/
/***                          Basic Setup                           ***/
/**********************************-***********************************/

.container-classes {
    position: absolute;
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
        "header"
        "story"
        "staff"
        "footer";
    grid-template-rows: repeat(4, max-content);
    background-color: #f5f6f4;
    width: 100%;
    top: 0;
    z-index: 1;
}

.container-header {
    grid-area: header;
    background-image: -webkit-linear-gradient(rgba(12, 18, 44, 0.7), rgba(12, 18, 44, 0.7)), url("../img/private-instruction.jpg");
    background-image: linear-gradient(rgba(12, 18, 44, 0.7), rgba(12, 18, 44, 0.7)), url("../img/private-instruction.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    display: grid;
    grid-template-columns: 7.5% 85% 7.5%;
    grid-template-areas:
        ". . ."
        ". quote ."
        ". . .";
    grid-template-rows: repeat(3, 33%);
    place-self: center;
}


/**********************************************************************/
/***                             Header                             ***/
/**********************************-***********************************/

.header-hero-classes {
    grid-area: quote;
    justify-self: center;
    align-self: center;
}

.header-classes-inspiration figure {
    margin: 1rem 0rem;
}

.header-classes-inspiration blockquote {
    font-size: 2.1rem;
    font-weight: 400;
    text-align: center;
    color: #f6f5f4;
    margin: 0rem 1.6rem;
}

.header-classes-inspiration blockquote p {
    justify-self: center;
    margin: 0rem;
}

.header-classes-inspiration blockquote p i {
    font-size: 1rem;
}

.header-classes-inspiration figcaption {
    font-size: 1.9rem;
    font-weight: 400;
    text-align: center;
    margin: 0.9rem 0rem;
}


/**********************************************************************/
/***                         Media Queries                          ***/
/**********************************-***********************************/


/****  screen and (min-width: 576px)  ****/

@media screen and (min-width: 576px) {
    /******************/
    /****  HEADER  ****/
    /******************/

    .header-classes-inspiration blockquote {
        font-size: 2.5rem;
    }

    .header-classes-inspiration figcaption {
        font-size: 2.2rem;
    }
}
/****  /screen and (min-width: 576px)  ****/


/****  /screen and (min-width: 800px)  ****/

@media screen and (min-width: 800px) {
    /*****************************/
    /***  Reusable Components  ***/
    /*****************************/

    .hide-toggler {
        display: none;
    }

    .hide-menu {
        display: grid;
    }

    /******************/
    /****  HEADER  ****/
    /******************/

    .header-classes-inspiration blockquote {
        font-size: 2.9rem;
    }

    .header-classes-inspiration figcaption {
        font-size: 2.6rem;
    }
}
/****  /screen and (min-width: 800px)  ****/
